<!DOCTYPE html>
<html>
<head>
    <title>Données MQTT</title>
   
     <!-- Lien vers Bootstrap Icons pour les icônes -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.26.3/font/bootstrap-icons.css">
     <!-- Lien vers Bootstrap CSS pour la mise en page -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        /* Style personnalisé pour le fond */
        body {
            background-color: indigo;
            color: white;
        }
    </style>
</head>
<body>
    <h1 class="text-center">Données Sensor</h1>
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="data-container">
            <ul>
                <!-- Exemple de données avec icône de thermomètre Bootstrap -->
                <li>
                    <i class="bi bi-thermometer"></i>
                    {% for data in mqttdata_list %}
                    <li>{{ data.timestamp }}: {{ data.data }}</li>
                {% endfor %}
                </li>
                
                <!-- Vous pouvez ajouter davantage de données en utilisant une boucle comme dans votre exemple -->
            </ul>
        </div>
    </div>
</body>
</html>
